{% extends "layout.html" %}

{% block content %}
<h2>Home</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint illum quae magni, sit animi eaque. Pariatur in laborum corporis ea qui deserunt blanditiis amet, quaerat deleniti dicta accusantium voluptatem similique nemo laboriosam id. Incidunt quam a, nihil ipsum ullam aut itaque deserunt? Voluptatem nesciunt corrupti qui, non consequatur iure necessitatibus incidunt eaque optio possimus, vero provident illo corporis maiores! Est magnam voluptatum fuga laudantium aliquam qui corporis ab iusto recusandae nemo delectus corrupti perspiciatis eveniet odio, beatae enim iste sit dolore similique nobis consequatur quia saepe porro! Reiciendis inventore perspiciatis iste minus sit. Amet, libero modi fugiat est quae natus.</p>
{% endblock %}

